.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 28px 48px 56px; 
    font-family: 'Inter';
}

@media screen and (max-width: 1140px) {
    .header {
      margin-bottom: 48px;
    }
  }
  **/ 
  
  @media screen and (max-width: 984px) {
    .header {
        margin: 28px 24px 48px; 
    }
  }
  
  @media screen and (max-width: 568px) {
    .header {
        margin: 16px 16px 48px; 
    }
  }