.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 28px 48px 56px;
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 1140px) {
    .header {
      padding-bottom: 48px;
    }
  }
  
  @media screen and (max-width: 984px) {
    .header {
        padding: 28px 24px 48px;
    }
  }
  
  @media screen and (max-width: 568px) {
    .header {
        padding: 16px 16px 48px;
    }
  }