.footer {
    display: flex;
    margin: 0 48px 24px;
    justify-content: space-between;
    padding: 0;
}


@media screen and (max-width: 984px) {
    .footer {
      margin: 0 24px 24px;

    }
  }
  
  @media screen and (max-width: 568px) {
    .footer {
      flex-direction: column;
      row-gap: 48px;
      margin: 0 16px;
    }
  }
  


